body {
  background-color: #232323;
  background: #232323 url(/img/splash_date_logotype_2000x1333.jpg) center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    background-color: #232323;
    background: #232323 url(/img/splash_window_logotype_800x1200.jpg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}