html {
  background: #232323 url(/img/splash_date_logotype_2000x1333.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

@media (max-width: 768px) {
  html {
    background: #232323 url(/img/splash_window_logotype_800x1200.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }
}